body {
    display: flex;
    height: 100vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 5px solid red;
    border-radius: 30px;
    height: 50%;
}
/* .body {font-display: ;
align-items: end
width:last baseline
justify content
;} */