body {
    font-family: Arial,sans-serif;
}
header {
    background-color: aliceblue;
    color:blueviolet;
    padding: 1em;
    text-align: center;
}
header nav ul li {
    display: inline-block;
    margin-right: 20px;
}
main {
    display: block;
    padding: 1em;
}
footer {
    background-color: aquamarine;
    color:blue;
    padding: 1em;
    text-align: center;
    clear: both;
}