body{
    justify-content: center;
    align-items: center;
}

.session {
    width: 300px;
    margin: 50px;
    padding: 20px;
    background-color:  white;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: brown;
    width: 60%;
    box-sizing: border-box;
}
h {
   color: brown;
}
b {
    color: brown;
}
.p4 {
    display: flex;
    justify-content: space-between;
}
input, button {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}